<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="container">

<h1 th:text = "${title}">Default</h1>

<form method="post">
    <table class="table">
            <tr>
                <td> Crop </td>
                <td><input type="text" name="invName"/></td>
            </tr>
             <tr>
                 <td> Pedigree </td>
                 <td><input type="text" name="invPedigree"/></td>
             </tr>
            <tr>
                <td> Season </td>
                <td><input type="text" name="invSeason"/></td>
            </tr>
            <tr>
                <td> Quantity Received </td>
                <td><input type="text" name="invReceived"/></td>
            </tr>

            <tr>
                <td> Quantity Used </td>
                <td><input type="text" name="invUsed"/></td>
            </tr>
    </table>

            <input type="Submit" value="Add Inventory"/>
</form>

</body>
</html>